@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #0056b3;
}
